<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Worktrack</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
          <a class="nav-link" href="/works/new" <%- title === 'Add Subject' ? 'class="active"' : '' %>>ADD SUBJECT</a>
          <a class="nav-link" href="/works" <%- title === 'Worktrack' ? 'class="active"' : '' %>>WORKTRACK</a>

          <% if (user) { %>
            <li><a class="nav-link" href="/logout">LOG OUT</a></li>
            <% } else { %>
              <li><a class="nav-link" href="/auth/google">Log In</a></li>
              <% } %>
        </div>
      </div>
    </div>
  </nav>

 
  <main>
    <h1><%= title %></h1>