<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Semester</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% works.forEach(function(m) { %>
      <tr>
        <td><%= w.subject %></td>
        <td><%= w.semester %></td>
        <td><a href="/works/<%= w._id %>">WORKTRACK</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
