<%- include('../partials/header') %>

<section id="show-page">
  <div>Subject: </div>
  <div><%= work.title %></div>
  <div>Semester: </div>
  <div><%= work.semester %></div>
</section>

<br><br><h2>To do list: /h2>
<form id="add-todo-form" method="POST"
  action="/works/<%= work._id %>/todos">
  <label>To do:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Todo">
</form>
<p>Todo: <%= work.todos.length %></p>

</form>

<% if (work.todos.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>To do</th>
      </tr>
    </thead>
    <tbody>
      <% work.todos.forEach(function(t) { %>
        <tr>
          <td><%= t.createdAt.toLocaleDateString() %></td>
          <td><%= t.content %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>Nothing to do!</h5>
<% } %>

<%- include('../partials/footer') %>

