<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
  <%- include('../partials/navbar') %>
<section>
  <br>
  <h2><%= work.subject %></h2>
  <h2><%= work.semester %></h2>
</section>

<br><h6>Things to be done:

  <form method="POST"
  action="/works/<%= work._id %>/todos"><br>
  <label>Task:
    <input type="text" name="task">
    </label><br><br>
    <label>Deadline:
      <input type="date" name="deadline">
    </label><br><br>
    <label>Notes:
      <textarea name="content"></textarea>
    </label><br> <br>
    <input type="submit" value="Add Todo">
  </form>
<br>
<br>

<% if (work.todos.length) { %>
  <table class="table table-hover">
    <thead>
      <tr scope="col">
        <th class="table-info">Task</th>
        <th class="table-secondary">Deadline</th>
        <th class="table-success">Notes</th>
        <th class="table-warning">Edit Todo</th>
        <th class="table-danger">Done?</th>
      </tr>
    </thead>
    <tbody>
      <% work.todos.forEach(function(t) { %>
          <% if (user) { %>
            <tr>
            <td><%= t.task %></td>
          <td><%= t.deadline %></td>
          <td><%= t.content %></td>
          <td>
            <a href="/works/<%= work._id%>/todos/<%=t._id%>/edit">Edit</a>
          <% } %>
        </td>
          <td>
          <form action="/works/<%= work._id%>/todos/<%=t._id%>?_method=DELETE"
            class="delete-form" method="POST">
            <button class="btn btn-danger" type="submit">✔</button>
          </form>
        </td>
          
          
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>Nothing to do!</h5>
<% } %>
</body>
</html>