<%- include('../partials/header') %>

<section id="show-page">
  <div>Subject: </div>
  <div><%= work.subject %></div>
  <div>Semester: </div>
  <div><%= work.semester %></div>
</section>

<br><br><h2>Things to be done:

  <form id="add-todo-form" method="POST"
  action="/works/<%= work._id %>/todos">
  <label>Task:
    <input type="text" name="task">
    </label><br>
    <label>Deadline:
      <input type="datetime-local" id="deadline" name="deadline">
    </label><br>
    <label>Notes:
      <textarea name="content"></textarea>
    </label><br>
    <input type="submit" value="Add Todo">
  </form>


<% if (work.todos.length) { %>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% work.todos.forEach(function(t) { %>
        <tr>
          <td><%= t.task %></td>
          <td><%= t.deadline %></td>
          <td><%= t.content %></td>

        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>Nothing to do!</h5>
<% } %>

<%- include('../partials/footer') %>

