<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
  <%- include('../partials/navbar') %>
            <% if (user) { %>
                <h1>Edit Todos</h1>
                <table>
                <form action="/works/<%= work._id%>/todos/<%=todo.id%>?_method=PUT" method="POST">
                    <label for="task" >Task</label>
                    <input type="text" value="<%= todo.task %>" name="task">
                    <label for="deadline" >Deadline</label>
                    <input type="datetime-local" placeholder= "<%= todo.deadline %>"value="<%= todo.deadline %>" name="deadline">
                    <label for="content" >Notes</label>
                    <textarea value="<%= todo.content %>" placeholder = "<%= todo.content %>"value="<%= todo.deadline %>" name="content"></textarea>
                    <button type="submit" class="btn btn-dark">Save Edits</button>
                </form>
                <% } %>
                </table>
            </body>
    </body>

    
        

