<%- include('../partials/header') %>


    <body>

            <% if (user) { %>
                <h1>Edit Todos</h1>
                <table>
                <form action="/todos/<%= todo.id%>?_method=PUT" method="POST">
                    <label for="task" >Task</label>
                    <input type="text" value="<%= todo.task %>" name="task">
                    <label for="deadline" >Task</label>
                    <input type="datetime-local" placeholder= "<%= todo.deadline %>"value="<%= todo.deadline %>" name="deadline">
                    <label for="content" >Task</label>
                    <input type="text" value="<%= todo.content %>" name="content">
                    <button type="submit" class="btn btn-dark">Save Edits</button>
                </form>
                <% } %>
    </body>

